
body {
  display: flex;
  background-color: palevioletred;
  align-items: center;
  justify-content: center;

}


/* play-area */

.play-area {
  display: flex;
  align-items: center;
}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* board? */


.card-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . .";
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 0 20px;
}

.card-board-space {
  border: 1px solid black;
  flex-basis: 25%;
}

.card-board-blocker {
  background-color: slategray;
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid #8fa3b7;
  border-right: 4px solid #8fa3b7;
  border-top: 4px solid #48525d;
  border-left: 4px solid #48525d;
  box-sizing: border-box;
}

.card-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Card Holder */

.card-holder-container {
  display: flex;
  flex-direction: column;
}

.card-holder {
  border: 1px solid black;
  padding: 1px
}


.card-slot {
  border: 1px solid black;
  padding: 1px;
  margin-bottom: 1px;
}


