/* vars for the arrows */
:root {
  --arrow-color: #007bff;
  --border-color: goldenrod;
}



.card {
   background: no-repeat center/contain url(https://picsum.photos/125);
   /* background-color: blue; */
   height: 125px;
   width: 125px;
   cursor: pointer;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   
   position: relative;
   border: 5px solid var(--border-color);
   box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;

     transform: translate3d(0, 0, 0); /* fixes dragPreview being inaccurate in Chrome */
 }



 .arrow-container {
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   display: flex;
   border: 1px solid #444;
 }
 

 /* overlay color depending on player owner */
 .card-color{
  width: 100%;
  height: 100%;
  transition: background-color 500ms ease-in-out;
 }
 
  .p1-color {
    background-color: rgba(11, 6, 139, 0.3);
  }

  .p2-color {
    background-color: rgba(139, 6, 11, 0.3);
  }

 
 
 

 /* shared styles for all arrow and arrow numbers */
 .arrow {
   width: 0;
   height: 0;
   border-style: solid;
   display: flex;
   align-items: center;
   justify-content: center;
   }
   .arrow > span {
     position: absolute;
     color: white;
     font-weight: 600;
     text-shadow: 0px 0px 1px #000, 0px 0px 2px #000;
   }
 
/*
//    Top Left
//     __
//    |
*/

.arrow-tl {
   border-width: 9px 9px 0 0;
   border-color: var(--arrow-color) transparent transparent transparent;
   position: absolute;
   left: -5px;
   top: -5px;
 }
   .arrow-tl > span {
     left: 8px;
     top: -4px;
   }

 
 
/*
//    Top 
//     /\
//    /  \
*/
.arrow-t {
   border-style: solid;
   border-width: 0 6px 5px 6px;
   border-color: transparent transparent var(--arrow-color) transparent;
   justify-self: center;
   margin: 0 auto;
   position: absolute;
   left: 0;
   right: 0;
   top: -5px;
 }
   .arrow-t > span {
     top: 5px;
   }

 
 
/*
//    Top Right
//     __
//       |
*/
.arrow-tr {
   border-width: 9px 0 0 9px;
   border-color: var(--arrow-color) transparent transparent transparent;
   position: absolute;
   right: -5px;
   top: -5px;
 }
   .arrow-tr > span {
     right: 8px;
     top: -4px;
   }



/*
//    Middle Left
//     /
//     \
*/
.arrow-ml {
   border-width: 6px 5px 6px 0px;
   border-color: transparent var(--arrow-color) transparent transparent;
   align-self: center;
   position: absolute;
   left: -5px;
 }
   .arrow-ml > span {
     left: 8px;
   }
 


/*
//    Middle Right
//     \
//     /
*/
.arrow-mr {
   border-width: 6px 0 6px 5px;
   border-color: transparent transparent transparent var(--arrow-color);
   align-self: center;
   position: absolute;
   right: -5px;
 }
   .arrow-mr > span {
     right: 7px;
   }



/*
//    Bottom Left
//    |
//     --
*/
.arrow-bl {
   border-width: 0 9px 9px 0;
   border-color: transparent transparent var(--arrow-color) transparent;
   position: absolute;
   left: -5px;
   bottom: -5px;
 }
   .arrow-bl > span {
     left: 8px;
     bottom: -4px;
   }


/*
//   Bottom 
//    \  /
//     \/
*/
.arrow-b {
   border-style: solid;
   border-width: 5px 6px 0 6px;
   border-color: var(--arrow-color) transparent transparent transparent;
   justify-self: center;
   margin: 0 auto;
   position: absolute;
   left: 0;
   right: 0;
   bottom: -5px;
 }
   .arrow-b > span {
     bottom: 5px;
   }


/*
//    Bottom Right
//       |
//     --
*/
.arrow-br {
   border-width: 0 0 9px 9px;
   border-color:  transparent transparent var(--arrow-color) transparent;
   position: absolute;
   right: -5px;
   bottom: -5px;
 }
   .arrow-br > span {
     right: 8px;
     bottom: -4px;
   }



  /* 
    Animation testing 
  */


   /* animation-name: stab-tr;
   animation-duration: 1s; */

   @keyframes stab-tr {
    0% {
        right: -4px;
        top: -4px;
        animation-timing-function: ease-in;
    }
    15% {
        right: -10px;
        top: -10px;
    }
    100% {
        right: -5px;
        top: -5px;
    }
  }